/*index*/
@charset "utf-8";

/*

 top

*/

/*
---------------------------------------------------*/
#wrapper {
	left: 0;
	margin-bottom: -125px;
	position: relative;
	right: 0;
	top: -125px;
	/* min-width: 1240px; */
}

#page-contents {
	position: relative;
	z-index: 1;
}


/* .top_page_title
---------------------------------------------------*/
.top_page_title {
	text-align: center;
	margin-bottom: 2em;
}

.top_page_title .title-en {
	color: #000;
	/* display: inline-block; */
	font-size: 49px;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1;
	font-weight: normal;
	vertical-align: middle;
}


.top_page_title .title-ja {
	color: #999;
	font-size: 16px;
	/* font-weight: bold; */
	-webkit-font-smoothing: antialiased;
	position: relative;
	border-left: 1px solid #0D1B37;
	padding-left: 1em;
	padding-bottom: .2em;
	margin-left: .8em;
	vertical-align: middle;
}

/* .mainVisual
---------------------------------------------------*/
.main_visual {
	padding: 52.4% 0 0;
	position: relative;
	overflow: hidden;
	min-width: 1200px;
	/* margin-bottom: 100px; */
}

@media screen and (max-width: 1200px) {
	.index .main_visual {
		padding: 621px 0 0;
		position: relative;
		overflow: hidden;
		width: 1200px;
		/*margin-bottom: 100px;*/
	}
}

.main_visual_parts {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.main_visual_parts .width_limit {
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.mv_bg_img {
	z-index: 1
}

.pattern:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: transparent url(../img/top/pattern.png) repeat top left;
}

.mv_bg_img video {
	width: 100%;
}

.mv_catch {
	top: 42%;
	z-index: 4;
}

.mv_catch .top_catch_title {
	margin: 0 0 0 5%;
	text-align: left;
	line-height: 1.2;
	width: 650px;
	/* background: #ccc; */
}

.mv_catch .top_catch_title span {
	/* display: block; */
}

.mv_catch .top_catch_title span.line1 {
	font-size: 31px;
	color: #bbb;
	letter-spacing: .02em;
	line-height: 1.15;
	margin-top: 4%;
	display: block;
	padding-left: 2px;
}

.mv_catch .top_catch_title span.line1 .color-1 {
	color: #fff;
	font-weight: 300;
}

.mv_catch .top_catch_title span.line1 .color-2 {
	color: #fff;
}

.mv_catch .top_catch_title span.line2 {
	font-size: 64px;
	font-weight: 100;
	/* margin-top: 1.4em; */
	color: #fff;
	/* letter-spacing: .1em; */
	display: block;
}


/* slider
---------------------------------------------------*/
.main_visual .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	left: 0;
}


/* .navi_for_header_select_language
---------------------------------------------------*/
.navi_for_header_select_language_wrap {
	text-align: right;
}


/* .content0
---------------------------------------------------*/
.content0 {}

.content0 .information {
	text-align: center;
	font-size: 13px;
	/* font-weight: bold; */
}


/* .content1
---------------------------------------------------*/
.content1 {}

.content1 .introduction_statement {
	margin-bottom: 2em;
}

.content1 .introduction_statement p {
	text-align: center;
}

.content1 .introduction_statement .link_button_wrap {
	text-align: center;
	margin-top: 3em;
}

.content1 .introduction_statement .link_button {
	margin: 0 2em;
	display: inline-block;
}

.site_content_list_wrap {
	min-width: 1200px;
}

.list-site_content {
	position: relative;
	display: block;
	width: 100%;
	border-top: 1px solid #eee;
	/* border-bottom: 1px solid #999; */
}


.list-site_content .item {
	margin: 50px;
	display: block;
}

.multiple-items,
.slick-thumbnail-title {
	width: 90%;
	max-width: 90%;
	margin: 0% 5%;
}

.slick-thumbnail-title a {
	font-weight: bold;
	font-size: 1.5vw;
}

.bold-price {
	font-weight: bold;
}

.small-others {
	color: gray;
	font-weight: lighter;
}

.slick-prev:before,
.slick-next:before {
	color: grey !important;
}

.slick-thumbnail {
	margin: 20px 10px;
	padding: 0px;
}

.slick-thumbnail p {
	margin: 10px 10px;
	font-size: smaller;
}

.slick-thumbnail img {
	min-height: 200px;
	max-height: 200px;
}

.list-site_content .item-body {
	/* background: rgba(1, 23, 31, 0.7); */
	background: rgba(255, 255, 255, .5);
	/* color: #fff; */
	display: inline-block;
	padding: 3em 4% 0;
	text-align: left;
	/* width: 42%; */
	min-height: 360px;
}

.list-site_content .item.item-1 {
	background: url(../img/top/list_content_menu-1.jpg) no-repeat left center;
	background-size: 50%;
	text-align: right;
}

.list-site_content .item.item-2 {
	/* background: url(../img/top/list_content_menu-2.jpg) no-repeat right center; */
	background-size: 50%;
}

.list-site_content .item.item-3 {
	background: url(../img/top/list_content_menu-3.jpg) no-repeat left center;
	background-size: 50%;
	text-align: right;
}

.list-site_content .item.item-4 {
	background: url(../img/top/list_content_menu-4.jpg) no-repeat right center;
	background-size: 50%;
}


.list-site_content .item-txt {
	padding-top: 2em;
	display: inline-block;
}

.list-site_content .item-txt p {}

.list-site_content .item-title {
	/* float: left; */
}

.list-site_content .item-title .title-en {
	font-size: 40px;
	position: relative;
}

.list-site_content .item-title .title-en:after {
	content: "";
	width: 54px;
	height: 1px;
	background: #666666;
	position: absolute;
	top: 27px;
	right: -56px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-60deg);
}

.list-site_content .item-title .title-ja {
	margin-left: 50px;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
}

.list-site_content .item-links {
	margin-left: -4%;
}

.list-site_content .item-links li {
	width: 46%;
	margin: 2em 0 0 4%;
	float: left;
}



/* .content0
---------------------------------------------------*/
.main .content_block .content0.block_inner {
	padding-top: 1.5em;
	margin-bottom: 1.5em;
}


/* .content2
---------------------------------------------------*/

.content2 .content-in {
	position: relative;
}

.content2 .content-bg {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
}

.content2 .content-txts {
	position: relative;
	z-index: 1;
	width: 60%;
	margnin-bottom: 50px;
}

.content2 .top_page_title {
	padding-top: 60px;
}

.content2 .top_page_title .title-en {
	display: block;
	text-align: left;
}

.content2 .top_page_title .title-ja {
	display: block;
	margin-top: 1.2em;
	padding-left: 1em;
	text-align: left;
}

.content2 .content-txts .top_page_title_wrap {
	position: relative;
	z-index: 1;
}

.content2 .content-txts .list_wrap {
	width: 65%;
	margin-top: 23px;
	margin-left: 3%;
	padding: 1px 10px;
}

.content2 .content-txts .item-txtlink {
	margin: 8px 0;
	background: #f9f9f9;
}

.content2 .content-txts .item-txtlink a {
	margin: 8px 0;
	background: #f9f9f9;
	padding: 5px 0;
	text-align: center;
}

.content2 .content-txts .item-txtlink a:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #0D1B37 transparent;
}

.content2 .content-txts .txtlink-title {
	margin: 15px 0 5px;
	font-size: 15px;
	font-weight: 400;
	font-family: "Noto Sans JP", sans-serif;
	letter-spacing: normal;
}

.content2 .content-txts .txtlink-title_en {
	margin: 0 0 15px;
	font-size: 14px;
}

.content2 .link_button_wrap {
	display: block;
	position: relative;
	width: 100%;
	margin-top: -20px;
	text-align: right;
}

.content2 .link_button_wrap .link_button {
	width: 300px;
	display: inline-block;
	text-align: left;
}


/* .content3
---------------------------------------------------*/
.news_wrap {
	margin: 0 auto;
	padding: 16px 0 0;
	color: #0D1B37;
	width: 1100px;
}

.content3 .top_page_title_wrap {
	width: 240px;
	display: table-cell;
	vertical-align: middle;
}

.content3 .top_page_title {
	display: block;
}

.content3 .top_page_title .title-en {
	display: block;
	text-align: left;
}

.content3 .top_page_title .title-ja {
	display: block;
	margin-top: 1.2em;
	padding-left: 1em;
	text-align: left;
}


.news {
	display: table-cell;
	width: 860px;
}

.news dl {
	margin: 0 0 14px;
	padding: 0 0 14px 45px;
	position: relative;
	min-height: 26px;
	/* font-size: 13px; */
	font-size: 15px;
	font-weight: bold;
	line-height: 2.0em;
	border-bottom: 1px dotted #0D1B37;
}

.news dl.end {
	margin: 0;
	border-bottom: none;
}

.news dl dt {
	width: 30px;
	height: 25px;
	color: #0D1B37;
	font-size: 13px;
	/* background: #0D1B37; */
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 25px;
	margin-top: -19px;
}

.news dl dt:before {
	font-family: "Font Awesome 5 Free";
	content: "\f1c1";
	font-weight: bold;
	font-size: 18px;
	padding-left: .8em;
	padding-right: .5em;
}


.news dl dd {
	color: #121212;
	position: relative;
	margin: 0;
	padding: 0 0 0 97px;
}

.news dl dd a {
	text-decoration: none;
}

.news dl dd a:hover {
	text-decoration: underline;
}

.news dl dd span {
	position: absolute;
	top: 50%;
	left: 0;
	color: #0D1B37;
	margin-top: -13px;
}

.content3 .link_button_wrap {
	text-align: center;
}

.content3 .link_button_wrap .link_button {
	width: 300px;
	display: inline-block;
	text-align: center;
}

/* .content4
---------------------------------------------------*/

.content4 .content-in {
	position: relative;
}

.content4 .content-bg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
}

.content4 .content-txts {
	position: relative;
	z-index: 1;
	padding-left: 60%;
}

.content4 .top_page_title {
	padding-top: 60px;
}

.content4 .top_page_title .title-en {
	display: block;
	text-align: left;
}

.content4 .top_page_title .title-ja {
	display: block;
	margin-top: 1.2em;
	padding-left: 1em;
	text-align: left;
}


.content4 .content-txts .top_page_title_wrap {
	position: relative;
	z-index: 1;
	padding-left: 33%;
}

.content4 .content-txts .list_wrap {
	margin-top: 23px;
	margin-right: 3%;
	padding: 1px 10px;
}

.content4 .content-txts .item-txtlink {
	margin: 8px 0;
	background: #f9f9f9;
}

.content4 .content-txts .item-txtlink a {
	margin: 8px 0;
	background: #f9f9f9;
	padding: 5px 0;
	text-align: center;
}

.content4 .content-txts .item-txtlink a:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #0D1B37 transparent;
}

.content4 .content-txts .txtlink-title {
	margin: 15px 0 5px;
	font-size: 15px;
	font-weight: 400;
	font-family: "Noto Sans JP", sans-serif;
	letter-spacing: normal;
}

.content4 .content-txts .txtlink-title_en {
	margin: 0 0 15px;
	font-size: 14px;
}

.content4 .content-txts .link_button_wrap {
	display: block;
	position: relative;
	width: 100%;
	margin-top: -20px;
	text-align: right;
}

.content4 .link_button_wrap .link_button {
	width: 300px;
	display: inline-block;
	text-align: left;
}



/* .content5
---------------------------------------------------*/
.content_block .block_inner.content5 {
	margin-bottom: 90px;
}

.list-normal_card {
	text-align: center;
	margin-top: 50px;
}

.list-normal_card li.item-normal_card {
	display: inline-block;
	margin: 0 15px;
	vertical-align: top;
	width: 30%;
	background: #262626;
}

.list-normal_card li.item-normal_card a {
	position: relative;
}

.list-normal_card li.item-normal_card:hover a:after {
	color: #fff;
	content: "VIEW MORE";
	font-size: 20px;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	height: 213px;
	left: 0;
	letter-spacing: 2px;
	line-height: 235px;
	position: absolute;
	text-align: center;
	text-decoration: underline;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 2;
}

.list-normal_card li.item-normal_card:hover img {
	opacity: 0.5;
	transition: all .5s;
}

.list-normal_card .normal_card-button {
	display: block;
	padding: 13px 5px;
	color: #fff;
}

.list-normal_card li.item-normal_card:hover .normal_card-button {
	color: #fff;
}

.list-normal_card .normal_card-button:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 10px 11px;
	border-color: transparent transparent #0D1B37 transparent;
}

.list-normal_card .normal_card-title {
	display: block;
	font-size: 14px;
	letter-spacing: 2px;
}

.list-normal_card li.item-normal_card .info_txt {
	display: block;
	background: #fff;
	color: #333;
	padding: 12px 20px;
	font-size: 12px;
	margin-bottom: 1px;
}

/**
a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}
**/

a:hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

/**
a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}
**/